<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<%- include('../includes/navigation.ejs') %>
</head>

<body>

	<main>
		<h1>Cart Page</h1>
		<% if(!products.length) { %>
		<h2>Your cart is empty</h2>
		<% } else { %>
		<ul>
			<% for(let product of products){ %>
			<li>
				<p>
					<%= product.product.title %> - <%= product.qty %>
					<form action="/cart-delete-item" method="POST">
						<input type="hidden" name="productId" value="<%= product.product.id %>">
						<button class="btn">Delete</button>
					</form>
				</p>
			</li>
			<% } %>
		</ul>
		<% } %>
	</main>
	<%- include('../includes/end.ejs') %>